@charset "UTF-8";
/* CSS Document */
container{
    background-color: rgb(red, green, blue);
}


.image-title-prg{
    display: block;
}
@media (min-width: 768px){
    .image-title-prg{
        height:  200px;
        display: table-cell;

    }
}