// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }














.navbar-brand{
    margin-left: 10vw;
}

.navbar-text{
    margin-right: 10vw;
}

.container{
    /* margin-left: 20vw; */
    margin-top: 10vh;
}

.card-group{
    margin-left: 5vw;
    margin-top: 10vh;
    margin-right: 5vw;
}